<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="/css/registerProduct.css">
</head>
<body>
    <div class="form-container">
        <h1>Cadastrar produto</h1>

        <% if (successMsg) { %>
            <div id="success-msg" style="color: green; text-align: center; margin-bottom: 10px;">
                <%= successMsg %>
            </div>
        <% } %>

        <form action="/products/registerProduct" method="post" enctype="multipart/form-data">
            <label for="name">Nome do Produto:</label>
            <input type="text" id="name" name="name" required>
        
            <label for="description">Descrição:</label>
            <input type="text" id="description" name="description" required>
        
            <label for="price">Preço:</label>
            <input type="number" id="price" name="price" step="0.01" required>
        
            <label for="image">Imagem do Produto:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        
            <div class="form-buttons">
                <a href="/" class="text-link">Voltar</a>
                <button type="submit" class="btn-submit">Cadastrar</button>
            </div>
        </form>
        
    </div>
</body>
</html>